.DS_Store
Thumbs.db

.idea/
*.iml
*.ipr
*.iws

/build/
*/build/

.gradle/
local.properties
*.log

*.swp
*.swo
*.tmp

.cache/
captures/
output.json

lint/intermediates/
lint/generated/

**/keystore.properties
**/signing.properties
**/*.jks

.externalNativeBuild/
.cxx/

test-results/
test-output/

coverage/
*.ec

*.pb

.navigation/

**/.gradle/

